<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Ignis Plugin Tests">
            <directory suffix=".php">tests/unit</directory>
            <directory suffix=".php">tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_DEVELOP_DIR" value="/path/to/wordpress-develop"/>
    </php>
</phpunit>
